{% extends 'app/base.html' %}
{% load static %}
{% block title %} Address {% endblock %}

{% block main %}
<div class="container my-5">
    <div class="row">
        <h4>Welcome, <span>{{request.user}}!!</span></h4>
        <br>
        <div class="col-sm-2 ">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
                <li class='d-grid'><a href="{% url 'address' %}" class="btn btn-primary">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-8  offset-sm-1">
            <div class="row">
             {% for ad in add %}
                <div class="col-sm-5 p-2 m-4 border border-dark rounded">
                 
                        <h3>Address {{ forloop.counter }}</h3>
                        <p>Name: {{ad.name}}</p>
                        <p>Locality: {{ad.locality}}</p>
                        <p>City: {{ad.city}}</p>
                        <p>State: {{ad.state}}</p>
                        <p>Mobile No: {{ad.mobile}}</p>
                        <p>Pincode: {{ad.pincode}}</p>
                        <p>Country: {{ad.country}}</p>
                        <a href="{% url 'update-address' ad.id %}" type="button" class="btn btn-primary">Update</a>
                        <a href="{% url 'delete-ad' ad.id %}" type="button" class="btn btn-danger">Delete</a>
                </div>
             {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}